# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.0.3
info:
    title: ""
    version: "1"
servers:
    - url: https://api.lasthearth.ru
paths:
    /v1/donate/me/balance:
        get:
            tags:
                - DonateService
            description: |-
                Player: get the caller's current coin balance.

                 Errors:
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - INTERNAL (500): database failure
            operationId: DonateService_GetMyBalance
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetMyBalanceResponse'
    /v1/donate/me/purchases:
        get:
            tags:
                - DonateService
            description: |-
                Player: list the caller's own purchases.

                 Errors:
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - INTERNAL (500): database failure
            operationId: DonateService_ListMyPurchases
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListMyPurchasesResponse'
    /v1/donate/players/{player_id}/coins:add:
        post:
            tags:
                - DonateService
            description: |-
                Admin: manually credit coins to a player's wallet.

                 Errors:
                   - INVALID_ARGUMENT (400): amount must be positive
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - PERMISSION_DENIED (403): insufficient privileges
                   - INTERNAL (500): database failure
            operationId: DonateService_AddCoins
            parameters:
                - name: player_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AddCoinsRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AddCoinsResponse'
    /v1/donate/players/{player_id}/coins:deduct:
        post:
            tags:
                - DonateService
            description: |-
                Admin: manually deduct coins from a player's wallet.

                 Errors:
                   - INVALID_ARGUMENT (400): amount must be positive
                   - NOT_FOUND (404): wallet not found
                   - FAILED_PRECONDITION (412): insufficient funds
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - PERMISSION_DENIED (403): insufficient privileges
                   - INTERNAL (500): database failure
            operationId: DonateService_DeductCoins
            parameters:
                - name: player_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/DeductCoinsRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DeductCoinsResponse'
    /v1/donate/players/{player_id}/purchases:
        get:
            tags:
                - DonateService
            description: |-
                Admin: list all purchases for a player.

                 Errors:
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - PERMISSION_DENIED (403): insufficient privileges
                   - INTERNAL (500): database failure
            operationId: DonateService_AdminListPurchases
            parameters:
                - name: player_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AdminListPurchasesResponse'
    /v1/donate/players/{player_id}/transactions:
        get:
            tags:
                - DonateService
            description: |-
                Admin: list all coin transactions for a player.

                 Errors:
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - PERMISSION_DENIED (403): insufficient privileges
                   - INTERNAL (500): database failure
            operationId: DonateService_ListTransactions
            parameters:
                - name: player_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListTransactionsResponse'
    /v1/donate/purchases/pending:
        get:
            tags:
                - DonateService
            description: |-
                Admin: list purchases that have not been marked as issued yet (pending manual delivery).
                 Returns only active (non-refunded) purchases.

                 Errors:
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - PERMISSION_DENIED (403): insufficient privileges
                   - INTERNAL (500): database failure
            operationId: DonateService_AdminListPendingPurchases
            parameters:
                - name: limit
                  in: query
                  schema:
                    type: string
                - name: page_token
                  in: query
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AdminListPendingPurchasesResponse'
    /v1/donate/purchases/{purchase_id}:mark-issued:
        post:
            tags:
                - DonateService
            description: |-
                Admin: mark a purchase as manually issued by the calling admin.
                 Idempotent — calling on an already-issued purchase returns the existing record unchanged.

                 Errors:
                   - NOT_FOUND (404): purchase not found
                   - FAILED_PRECONDITION (412): purchase is refunded
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - PERMISSION_DENIED (403): insufficient privileges
                   - INTERNAL (500): database failure
            operationId: DonateService_MarkPurchaseIssued
            parameters:
                - name: purchase_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/MarkPurchaseIssuedRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/MarkPurchaseIssuedResponse'
    /v1/donate/purchases/{purchase_id}:refund:
        post:
            tags:
                - DonateService
            description: |-
                Admin: refund a purchase — restores coins to the player's wallet.

                 Errors:
                   - NOT_FOUND (404): purchase not found
                   - FAILED_PRECONDITION (412): already refunded
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - PERMISSION_DENIED (403): insufficient privileges
                   - INTERNAL (500): database failure
            operationId: DonateService_Refund
            parameters:
                - name: purchase_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/RefundRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/RefundResponse'
    /v1/donate/shop/items:
        get:
            tags:
                - DonateService
            description: |-
                Player: list all available shop items.

                 Errors:
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - INTERNAL (500): database failure
            operationId: DonateService_ListShopItems
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListShopItemsResponse'
        post:
            tags:
                - DonateService
            description: |-
                Admin: create a new shop item.

                 Errors:
                   - INVALID_ARGUMENT (400): missing or invalid fields
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - PERMISSION_DENIED (403): insufficient privileges
                   - INTERNAL (500): database failure
            operationId: DonateService_CreateShopItem
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateShopItemRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CreateShopItemResponse'
    /v1/donate/shop/items/{id}:
        put:
            tags:
                - DonateService
            description: |-
                Admin: update an existing shop item.

                 Errors:
                   - INVALID_ARGUMENT (400): missing or invalid fields
                   - NOT_FOUND (404): item not found
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - PERMISSION_DENIED (403): insufficient privileges
                   - INTERNAL (500): database failure
            operationId: DonateService_UpdateShopItem
            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpdateShopItemRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UpdateShopItemResponse'
        delete:
            tags:
                - DonateService
            description: |-
                Admin: delete a shop item.

                 Errors:
                   - NOT_FOUND (404): item not found
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - PERMISSION_DENIED (403): insufficient privileges
                   - INTERNAL (500): database failure
            operationId: DonateService_DeleteShopItem
            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DeleteShopItemResponse'
    /v1/donate/shop/items/{item_id}:buy:
        post:
            tags:
                - DonateService
            description: |-
                Player: purchase a shop item using coins.

                 Errors:
                   - NOT_FOUND (404): item not found or unavailable
                   - FAILED_PRECONDITION (412): insufficient coins
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - INTERNAL (500): database failure
            operationId: DonateService_BuyItem
            parameters:
                - name: item_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/BuyItemRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BuyItemResponse'
    /v1/hungergames/leaderboard:
        get:
            tags:
                - HungerGamesService
            description: |-
                Returns the current season leaderboard sorted by ELO descending.

                 Errors:
                   - INTERNAL (500): database failure
            operationId: HungerGamesService_ListLeaderboard
            parameters:
                - name: limit
                  in: query
                  description: Maximum number of entries. Defaults to 25.
                  schema:
                    type: integer
                    format: int32
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListLeaderboardResponse'
    /v1/hungergames/match:
        post:
            tags:
                - HungerGamesService
            description: |-
                Records a match result and recalculates ELO for all participants.
                 Requires an active season.

                 Errors:
                   - INVALID_ARGUMENT (400): fewer than 2 players, duplicate places, or no active season
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - PERMISSION_DENIED (403): insufficient privileges
                   - INTERNAL (500): database failure
            operationId: HungerGamesService_RecordMatch
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/RecordMatchRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/RecordMatchResponse'
    /v1/hungergames/season:
        post:
            tags:
                - HungerGamesService
            description: |-
                Creates a new season. Fails if a season is already active.

                 Errors:
                   - ALREADY_EXISTS (409): active season already exists
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - PERMISSION_DENIED (403): insufficient privileges
                   - INTERNAL (500): database failure
            operationId: HungerGamesService_CreateSeason
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateSeasonRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CreateSeasonResponse'
    /v1/hungergames/season/reset:
        post:
            tags:
                - HungerGamesService
            description: |-
                Distributes season rewards to top-N players, archives the leaderboard,
                 and closes the current season. Does NOT create a new season.

                 Errors:
                   - NOT_FOUND (404): no active season
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - PERMISSION_DENIED (403): insufficient privileges
                   - INTERNAL (500): database failure
            operationId: HungerGamesService_ResetSeason
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ResetSeasonRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ResetSeasonResponse'
    /v1/hungergames/seasons:
        get:
            tags:
                - HungerGamesService
            description: |-
                Returns a paginated list of all seasons, newest first.

                 Errors:
                   - INTERNAL (500): database failure
            operationId: HungerGamesService_ListSeasons
            parameters:
                - name: next
                  in: query
                  description: Cursor from a previous response for pagination.
                  schema:
                    type: string
                - name: limit
                  in: query
                  description: Maximum number of seasons. Defaults to 20.
                  schema:
                    type: integer
                    format: int32
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListSeasonsResponse'
    /v1/hungergames/seasons/{season_id}/leaderboard:
        get:
            tags:
                - HungerGamesService
            description: |-
                Returns the top 10 archived results for a specific past season.

                 Errors:
                   - NOT_FOUND (404): season not found
                   - INTERNAL (500): database failure
            operationId: HungerGamesService_GetSeasonLeaderboard
            parameters:
                - name: season_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetSeasonLeaderboardResponse'
    /v1/hungergames/seasons/{season_id}/players/{player_id}:
        get:
            tags:
                - HungerGamesService
            description: |-
                Returns a player's stats for a specific season.
                 For an active season returns current live stats (rank = 0).
                 For a completed season returns the archived result including rank and reward.

                 Errors:
                   - NOT_FOUND (404): season or player stats not found
                   - INTERNAL (500): database failure
            operationId: HungerGamesService_GetPlayerStats
            parameters:
                - name: season_id
                  in: path
                  required: true
                  schema:
                    type: string
                - name: player_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetPlayerStatsResponse'
    /v1/items:
        post:
            tags:
                - TrademarketService
            operationId: TrademarketService_Create
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CreateResponse'
    /v1/kits:
        get:
            tags:
                - KitService
            description: |-
                Get all available kits that can be assigned to users.

                 Errors:
                   - INTERNAL (500): database failure
            operationId: KitService_GetAvailableKits
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetAvailableKitsResponse'
    /v1/kits/{kit_name}:assign:
        post:
            tags:
                - KitService
            description: |-
                Assign a specific kit to a user. Requires admin privileges.

                 Errors:
                   - INVALID_ARGUMENT (400): missing required fields or invalid timestamps
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - PERMISSION_DENIED (403): insufficient privileges
                   - INTERNAL (500): database failure
            operationId: KitService_AssignKitToUser
            parameters:
                - name: kit_name
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AssignKitToUserRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AssignKitToUserResponse'
    /v1/leaderboard:
        get:
            tags:
                - LeaderboardService
            description: |-
                List leaderboard entries sorted by the specified filter.
                 Defaults to 25 entries if limit is not specified.

                 Errors:
                   - INVALID_ARGUMENT (400): unknown filter value
                   - INTERNAL (500): database failure
            operationId: LeaderboardService_ListEntries
            parameters:
                - name: filter
                  in: query
                  description: Leaderboard filter. Service will return entries sorted by provided filter.
                  schema:
                    enum:
                        - LEADERBOARD_FILTER_DEATHS
                        - LEADERBOARD_FILTER_KILLS
                        - LEADERBOARD_FILTER_ONLINE
                    type: string
                    format: enum
                - name: limit
                  in: query
                  description: |-
                    The maximum number of entries to return.
                     If unspecified, 25 entry will be returned.
                  schema:
                    type: integer
                    format: int32
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/LeaderboardResponse'
    /v1/media/upload-urls:
        post:
            tags:
                - MediaService
            description: |-
                Returns N presigned POST targets for uploading images. The required scope
                 depends on the purpose (see the server-side per-purpose config).

                 Errors:
                   - INVALID_ARGUMENT (400): unknown purpose, count out of [1,20], or unsupported content_type
                   - UNAUTHENTICATED (401)
                   - PERMISSION_DENIED (403)
                   - INTERNAL (500)
            operationId: MediaService_CreateUploadUrls
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateUploadUrlsRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CreateUploadUrlsResponse'
    /v1/news:
        get:
            tags:
                - NewsService
            description: |-
                List news with pagination. View count is incremented for each item returned.
                 Default page size is 15, maximum is 50.

                 Errors:
                   - INTERNAL (500): database failure
            operationId: NewsService_ListNews
            parameters:
                - name: page_size
                  in: query
                  description: |-
                    The maximum number of news to return. The service may return fewer than
                     this value.
                     If unspecified, at most 15 news will be returned.
                     The maximum value is 50; values above 50 will be coerced to 50.
                  schema:
                    type: integer
                    format: int32
                - name: page_token
                  in: query
                  description: |-
                    A page token, received from a previous `ListBooks` call.
                     Provide this to retrieve the subsequent page.

                     When paginating, all other parameters provided to `ListBooks` must match
                     the call that provided the page token.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListNewsResponse'
        post:
            tags:
                - NewsService
            description: |-
                Create a news entry. Requires admin privileges.
                 Preview image is stored as WebP. Broadcasts a notification to all users.

                 Errors:
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - PERMISSION_DENIED (403): insufficient privileges
                   - INTERNAL (500): storage or database failure
            operationId: NewsService_CreateNews
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateNewsRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/News'
    /v1/news/{id}:
        get:
            tags:
                - NewsService
            description: |-
                Get a specific news entry by ID. View count is incremented.

                 Errors:
                   - NOT_FOUND (404): news not found
                   - INTERNAL (500): database failure
            operationId: NewsService_GetNews
            parameters:
                - name: id
                  in: path
                  description: The unique identifier of the news item to retrieve.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/News'
        delete:
            tags:
                - NewsService
            description: |-
                Delete a news entry by ID. Requires admin privileges.

                 Errors:
                   - NOT_FOUND (404): news not found
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - PERMISSION_DENIED (403): insufficient privileges
                   - INTERNAL (500): database failure
            operationId: NewsService_DeleteNews
            parameters:
                - name: id
                  in: path
                  description: The unique identifier of the news item to delete.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content: {}
    /v1/notifications:
        get:
            tags:
                - NotificationService
            description: |-
                Lists notifications for the authenticated user with pagination.
                 Default page size is 15, maximum is 15.
                 Supports order_by: "created_at" or "state" with optional " asc"/" desc" suffix.

                 Errors:
                   - NOT_FOUND (404): no notifications found for user
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - INTERNAL (500): database failure
            operationId: NotificationService_ListNotifications
            parameters:
                - name: page_size
                  in: query
                  description: |-
                    The maximum number of notifications to return. The service may return fewer
                     than this value. If unspecified, at most 15 notifications will be returned.
                     The maximum value is 15; values above 15 will be coerced to 15.
                  schema:
                    type: integer
                    format: int32
                - name: page_token
                  in: query
                  description: A token identifying a page of results the server should return.
                  schema:
                    type: string
                - name: order_by
                  in: query
                  description: |-
                    The field to sort by, followed by direction (e.g., "created_at desc" or "state asc").
                     Supported fields: "created_at", "state". If unspecified, defaults to "created_at desc".
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListNotificationsResponse'
    /v1/notifications/{id}:markAsRead:
        post:
            tags:
                - NotificationService
            description: |-
                Mark a notification as read.

                 Errors:
                   - INVALID_ARGUMENT (400): invalid notification ID format
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - INTERNAL (500): database failure
            operationId: NotificationService_MarkAsRead
            parameters:
                - name: id
                  in: path
                  description: |-
                    The identifier of the notification to mark as read.
                     Required.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content: {}
    /v1/rules/question:
        post:
            tags:
                - RuleService
            description: |-
                Creates a new rule question. Requires admin privileges.

                 Errors:
                   - INVALID_ARGUMENT (400): question is empty
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - PERMISSION_DENIED (403): insufficient privileges
                   - INTERNAL (500): database failure
            operationId: RuleService_CreateQuestion
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateQuestionRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CreateQuestionResponse'
    /v1/rules/question/{id}:
        delete:
            tags:
                - RuleService
            description: |-
                Deletes a rule question by ID. Requires admin privileges.

                 Errors:
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - PERMISSION_DENIED (403): insufficient privileges
                   - NOT_FOUND (404): question not found
                   - INTERNAL (500): database failure
            operationId: RuleService_DeleteQuestion
            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DeleteQuestionResponse'
    /v1/rules/questions:
        get:
            tags:
                - RuleService
            description: |-
                Returns random questions about server rules.
                 Defaults to 5 questions if count is not specified.

                 Errors:
                   - INTERNAL (500): database failure
            operationId: RuleService_GetRandomQuestions
            parameters:
                - name: count
                  in: query
                  description: Count of questions to return, if not specified, returns 5 questions
                  schema:
                    type: integer
                    format: int32
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetRandomQuestionsResponse'
    /v1/rules/questions/list:
        get:
            tags:
                - RuleService
            description: |-
                Returns all rule questions. Requires admin privileges.

                 Errors:
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - PERMISSION_DENIED (403): insufficient privileges
                   - INTERNAL (500): database failure
            operationId: RuleService_ListQuestions
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListQuestionsResponse'
    /v1/serverinfo/totalonline:
        get:
            tags:
                - ServerInfoService
            description: |-
                Get the current and maximum player online counts.

                 Errors:
                   - INTERNAL (500): database failure
            operationId: ServerInfoService_TotalOnline
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/TotalOnlineResponse'
    /v1/serverinfo/worldtime:
        get:
            tags:
                - ServerInfoService
            description: |-
                Get the current in-game world time.

                 Errors:
                   - INTERNAL (500): database failure
            operationId: ServerInfoService_WorldTime
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/WorldTimeResponse'
    /v1/settlements:
        get:
            tags:
                - SettlementService
            description: |-
                List all approved settlements.

                 Errors:
                   - INTERNAL (500): database failure
            operationId: SettlementService_List
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListResponse'
        post:
            tags:
                - SettlementService
            description: |-
                Submit or level-up a settlement request.
                 On first call creates a new request; on subsequent calls upgrades an approved settlement.

                 Errors:
                   - INVALID_ARGUMENT (400): attachments is empty; invalid settlement type
                   - ALREADY_EXISTS (409): settlement request is already pending
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - INTERNAL (500): storage upload or database failure
            operationId: SettlementService_Submit
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/SubmitRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SubmitResponse'
    /v1/settlements/invitations/{invitation_id}:accept:
        post:
            tags:
                - SettlementService
            description: |-
                Accept an invitation to join a settlement.

                 Errors:
                   - NOT_FOUND (404): invitation not found
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - INTERNAL (500): database failure
            operationId: SettlementService_AcceptInvitation
            parameters:
                - name: invitation_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AcceptInvitationResponse'
    /v1/settlements/invitations/{invitation_id}:reject:
        post:
            tags:
                - SettlementService
            description: |-
                Reject an invitation to join a settlement.

                 Errors:
                   - NOT_FOUND (404): invitation not found for authenticated user
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - INTERNAL (500): database failure
            operationId: SettlementService_RejectInvitation
            parameters:
                - name: invitation_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/RejectInvitationResponse'
    /v1/settlements/tags:
        get:
            tags:
                - SettlementTagService
            description: |-
                List all tags.

                 Errors:
                   - INTERNAL (500): database failure
            operationId: SettlementTagService_GetTags
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetTagsResponse'
        post:
            tags:
                - SettlementTagService
            description: |-
                Create a new tag. Requires tags:create privilege.

                 Errors:
                   - INVALID_ARGUMENT (400): invalid tag fields (name, description, or color)
                   - PERMISSION_DENIED (403): requires tags:create privilege
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - INTERNAL (500): database failure
            operationId: SettlementTagService_CreateTag
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/SettlementTag'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SettlementTag'
    /v1/settlements/tags/{tag_id}:
        get:
            tags:
                - SettlementTagService
            description: |-
                Get a tag by ID.

                 Errors:
                   - NOT_FOUND (404): tag not found
                   - INVALID_ARGUMENT (400): invalid tag_id format
                   - INTERNAL (500): database failure
            operationId: SettlementTagService_GetTag
            parameters:
                - name: tag_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SettlementTag'
        delete:
            tags:
                - SettlementTagService
            description: |-
                Soft-delete a tag by ID. Requires tags:delete privilege.

                 Errors:
                   - NOT_FOUND (404): tag not found
                   - INVALID_ARGUMENT (400): invalid tag_id format
                   - PERMISSION_DENIED (403): requires tags:delete privilege
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - INTERNAL (500): database failure
            operationId: SettlementTagService_DeleteTag
            parameters:
                - name: tag_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content: {}
    /v1/settlements/tags:batch:
        post:
            tags:
                - SettlementTagService
            description: |-
                Get multiple tags by their IDs in a single batch request.

                 Errors:
                   - INTERNAL (500): database failure
            operationId: SettlementTagService_GetTagsByIds
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/GetTagsByIdsRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetTagsByIdsResponse'
    /v1/settlements/verifications:
        get:
            tags:
                - SettlementService
            description: |-
                List pending settlement requests. Requires admin privileges.

                 Errors:
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - PERMISSION_DENIED (403): insufficient privileges
                   - INTERNAL (500): database failure
            operationId: SettlementService_ListPending
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListPendingResponse'
    /v1/settlements/{id}:
        get:
            tags:
                - SettlementService
            description: |-
                Get settlement by ID.

                 Errors:
                   - NOT_FOUND (404): settlement not found
                   - INTERNAL (500): database failure
            operationId: SettlementService_Get
            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetResponse'
    /v1/settlements/{id}/verification:approve:
        post:
            tags:
                - SettlementService
            description: |-
                Approve a settlement request. Requires admin privileges.

                 Errors:
                   - NOT_FOUND (404): settlement request not found
                   - FAILED_PRECONDITION (400): settlement request already approved
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - PERMISSION_DENIED (403): insufficient privileges
                   - INTERNAL (500): database failure
            operationId: SettlementService_Approve
            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ApproveRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApproveResponse'
    /v1/settlements/{id}/verification:reject:
        post:
            tags:
                - SettlementService
            description: |-
                Reject a settlement request. Requires admin privileges.

                 Errors:
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - PERMISSION_DENIED (403): insufficient privileges
                   - INTERNAL (500): database failure
            operationId: SettlementService_Reject
            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/RejectRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/RejectResponse'
    /v1/settlements/{settlement_id}/invitations:
        get:
            tags:
                - SettlementService
            description: |-
                Get all pending invitations for a settlement. Caller must be the settlement leader.

                 Errors:
                   - PERMISSION_DENIED (403): caller is not the settlement leader
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - INTERNAL (500): database failure
            operationId: SettlementService_GetInvitations
            parameters:
                - name: settlement_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetInvitationsResponse'
        post:
            tags:
                - SettlementService
            description: |-
                Invite a user to join a settlement. Caller must be the settlement leader.

                 Errors:
                   - PERMISSION_DENIED (403): caller is not the settlement leader
                   - ALREADY_EXISTS (409): user is already a member of the settlement
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - INTERNAL (500): database failure
            operationId: SettlementService_InviteMember
            parameters:
                - name: settlement_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/InviteMemberRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/InviteMemberResponse'
    /v1/settlements/{settlement_id}/invitations/{invitation_id}:revoke:
        post:
            tags:
                - SettlementService
            description: |-
                Revoke a pending invitation. Caller must be the settlement leader.

                 Errors:
                   - PERMISSION_DENIED (403): caller is not the settlement leader
                   - NOT_FOUND (404): invitation not found
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - INTERNAL (500): database failure
            operationId: SettlementService_RevokeInvitation
            parameters:
                - name: settlement_id
                  in: path
                  required: true
                  schema:
                    type: string
                - name: invitation_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/RevokeInvitationRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/RevokeInvitationResponse'
    /v1/settlements/{settlement_id}/members/{user_id}:
        delete:
            tags:
                - SettlementService
            description: |-
                Remove a member from a settlement. Requires admin privileges.

                 Errors:
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - PERMISSION_DENIED (403): insufficient privileges
                   - INTERNAL (500): database failure
            operationId: SettlementService_RemoveMember
            parameters:
                - name: settlement_id
                  in: path
                  required: true
                  schema:
                    type: string
                - name: user_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/RemoveMemberResponse'
    /v1/settlements/{settlement_id}/tags:
        post:
            tags:
                - SettlementService
            description: |-
                Add a tag to a settlement. Requires tags:manage privilege.

                 Errors:
                   - NOT_FOUND (404): settlement or tag not found
                   - ALREADY_EXISTS (409): settlement already has this tag
                   - FAILED_PRECONDITION (400): tag is not active; too many tags limit reached
                   - PERMISSION_DENIED (403): requires tags:manage privilege
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - INTERNAL (500): database failure
            operationId: SettlementService_AddTagToSettlement
            parameters:
                - name: settlement_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AddTagToSettlementRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AddTagToSettlementResponse'
    /v1/settlements/{settlement_id}/tags/{tag_id}:
        delete:
            tags:
                - SettlementService
            description: |-
                Remove a tag from a settlement. Requires tags:manage privilege.

                 Errors:
                   - NOT_FOUND (404): settlement or tag not found
                   - PERMISSION_DENIED (403): requires tags:manage privilege
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - INTERNAL (500): database failure
            operationId: SettlementService_RemoveTagFromSettlement
            parameters:
                - name: settlement_id
                  in: path
                  required: true
                  schema:
                    type: string
                - name: tag_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/RemoveTagFromSettlementResponse'
    /v1/stats:
        get:
            tags:
                - StatsService
            description: Returns online stats
            operationId: StatsService_GetOnlineStats
            parameters:
                - name: filter
                  in: query
                  description: Stats filter. Service will return count sorted by provided filter.
                  schema:
                    enum:
                        - UNSPECIFIED
                        - HOURS
                        - DAY
                    type: string
                    format: enum
                - name: started_at
                  in: query
                  description: Start time for filtering
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/OnlineStatsResponse'
    /v1/user/verify/{user_game_name}/status:
        get:
            tags:
                - VerificationService
            description: |-
                Get verification status for a user by in-game name.

                 Errors:
                   - NOT_FOUND (404): user with given game name not found
                   - INTERNAL (500): database failure
            operationId: VerificationService_VerifyStatusByName
            parameters:
                - name: user_game_name
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/VerifyStatusResponse'
    /v1/users/search:
        get:
            tags:
                - UserService
            description: |-
                Search users by query string.

                 Errors:
                   - INTERNAL (500): database failure
            operationId: UserService_SearchUsers
            parameters:
                - name: query
                  in: query
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SearchUsersResponse'
    /v1/users/{user_id}:
        get:
            tags:
                - UserService
            description: |-
                Get user profile by ID.

                 Errors:
                   - NOT_FOUND (404): user not found
                   - INTERNAL (500): database failure
            operationId: UserService_GetUser
            parameters:
                - name: user_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/User'
    /v1/users/{user_id}/avatar:
        post:
            tags:
                - UserService
            description: |-
                Update the avatar for a user. Caller must match user_id.
                 Avatar must be at most 3MB and exactly 512x512 pixels; converted to WebP internally.

                 Errors:
                   - INVALID_ARGUMENT (400): avatar is empty; exceeds 3MB; invalid dimensions (must be 512x512)
                   - PERMISSION_DENIED (403): cannot update another user's avatar
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - INTERNAL (500): image processing, storage, or SSO failure
            operationId: UserService_UpdateAvatar
            parameters:
                - name: user_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpdateAvatarRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content: {}
    /v1/users/{user_id}/kits/assignments:
        get:
            tags:
                - KitService
            description: |-
                List all kit assignments for a specific user. Caller must match user_id.

                 Errors:
                   - PERMISSION_DENIED (403): cannot list assignments for another user
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - INTERNAL (500): database failure
            operationId: KitService_ListUserAssignments
            parameters:
                - name: user_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListUserAssignmentsResponse'
    /v1/users/{user_id}/nickname:
        put:
            tags:
                - UserService
            description: |-
                Change in-game nickname for a user. Caller must match user_id.
                 Nickname must be 1-15 alphanumeric/underscore/dash characters.
                 Change is subject to a 6-month cooldown per user.

                 Errors:
                   - INVALID_ARGUMENT (400): invalid nickname format; new nickname same as current
                   - PERMISSION_DENIED (403): cannot change another user's nickname
                   - FAILED_PRECONDITION (400): nickname change on cooldown; response includes next allowed date
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - INTERNAL (500): database failure
            operationId: UserService_ChangeNickname
            parameters:
                - name: user_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ChangeNicknameRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ChangeNicknameResponse'
    /v1/users/{user_id}/settlements:
        get:
            tags:
                - SettlementService
            description: |-
                Get settlement by user ID.

                 Errors:
                   - NOT_FOUND (404): settlement not found for user
                   - INTERNAL (500): database failure
            operationId: SettlementService_GetByUserId
            parameters:
                - name: user_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetByUserIdResponse'
    /v1/users/{user_id}/settlements/invitations:
        get:
            tags:
                - SettlementService
            description: |-
                Get all invitations belonging to a specific user. Caller must match user_id.

                 Errors:
                   - PERMISSION_DENIED (403): user_id in request does not match authenticated user
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - INTERNAL (500): database failure
            operationId: SettlementService_GetUserInvitations
            parameters:
                - name: user_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetUserInvitationsResponse'
    /v1/users/{user_id}/settlements/verification:status:
        get:
            tags:
                - SettlementService
            description: |-
                Get the verification status of a settlement request for a user.

                 Errors:
                   - NOT_FOUND (404): no settlement request found for user
                   - INTERNAL (500): database failure
            operationId: SettlementService_VerificationStatus
            parameters:
                - name: user_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/VerificationStatusResponse'
    /v1/users/{user_id}/verification:status:
        get:
            tags:
                - VerificationService
            description: |-
                Get verification status for a user by ID.

                 Errors:
                   - NOT_FOUND (404): verification request not found
                   - INTERNAL (500): database failure
            operationId: VerificationService_VerificationStatus
            parameters:
                - name: user_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/VerifyStatusResponse'
    /v1/verification:
        post:
            tags:
                - VerificationService
            description: |-
                Submit a verification request for the authenticated user.
                 If a previous request exists and is re-submittable, it will be updated.

                 Errors:
                   - FAILED_PRECONDITION (400): verification is pending or already approved/verified
                   - ALREADY_EXISTS (409): user is already verified
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - INTERNAL (500): database or SSO failure
            operationId: VerificationService_Submit
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/SubmitRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SubmitResponse'
    /v1/verification/details:
        get:
            tags:
                - VerificationService
            description: |-
                Get verification details for the authenticated user.
                 Possible statuses: pending, approved, rejected, verified.

                 Errors:
                   - NOT_FOUND (404): no verification request found for user
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - INTERNAL (500): database failure
            operationId: VerificationService_Details
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DetailsResponse'
    /v1/verification/{user_id}/approve:
        post:
            tags:
                - VerificationService
            description: |-
                Approve a user's verification request. Requires admin privileges.
                 Grants the "player" role to the user in SSO.

                 Errors:
                   - FAILED_PRECONDITION (400): verification is not in pending state
                   - NOT_FOUND (404): verification request not found
                   - ALREADY_EXISTS (409): user is already verified
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - PERMISSION_DENIED (403): insufficient privileges
                   - INTERNAL (500): database or SSO failure
            operationId: VerificationService_Approve
            parameters:
                - name: user_id
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApproveResponse'
    /v1/verification/{user_id}/reject:
        post:
            tags:
                - VerificationService
            description: |-
                Reject a user's verification request. Requires admin privileges.

                 Errors:
                   - FAILED_PRECONDITION (400): verification is not in pending state
                   - NOT_FOUND (404): verification request not found
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - PERMISSION_DENIED (403): insufficient privileges
                   - INTERNAL (500): database failure
            operationId: VerificationService_Reject
            parameters:
                - name: user_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/RejectRequest_RejectReason'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/RejectResponse'
    /v1/verifications:
        get:
            tags:
                - VerificationService
            description: |-
                List all pending verification requests. Requires admin privileges.

                 Errors:
                   - UNAUTHENTICATED (401): missing or invalid auth token
                   - PERMISSION_DENIED (403): insufficient privileges
                   - INTERNAL (500): database failure
            operationId: VerificationService_List
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListResponse'
    /v1/{name}/stats:
        get:
            tags:
                - StatsService
            description: Returns player stats
            operationId: StatsService_GetPlayerStats
            parameters:
                - name: name
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PlayerStatsResponse'
components:
    schemas:
        AcceptInvitationResponse:
            type: object
            properties: {}
        AddCoinsRequest:
            type: object
            properties:
                player_id:
                    type: string
                player_name:
                    type: string
                amount:
                    type: string
                reason:
                    type: string
        AddCoinsResponse:
            type: object
            properties:
                coins:
                    type: string
        AddTagToSettlementRequest:
            type: object
            properties:
                settlement_id:
                    type: string
                tag_id:
                    type: string
            description: Request to add a tag to a settlement
        AddTagToSettlementResponse:
            type: object
            properties:
                settlement:
                    $ref: '#/components/schemas/Settlement'
            description: Response from adding a tag to a settlement
        AdminListPendingPurchasesResponse:
            type: object
            properties:
                purchases:
                    type: array
                    items:
                        $ref: '#/components/schemas/Purchase'
                next_page_token:
                    type: string
        AdminListPurchasesResponse:
            type: object
            properties:
                purchases:
                    type: array
                    items:
                        $ref: '#/components/schemas/Purchase'
        ApproveRequest:
            required:
                - id
            type: object
            properties:
                id:
                    type: string
        ApproveResponse:
            type: object
            properties: {}
        AssignKitToUserRequest:
            type: object
            properties:
                user_id:
                    type: string
                user_game_name:
                    type: string
                kit_name:
                    type: string
            description: Request for assigning a kit to a user
        AssignKitToUserResponse:
            type: object
            properties:
                assignment_id:
                    type: string
                user_id:
                    type: string
                kit_name:
                    type: string
                status:
                    type: string
                assigned_at:
                    type: string
                    format: date-time
                user_game_name:
                    type: string
            description: Response for successful assignment of a kit to a user
        Assignment:
            type: object
            properties:
                id:
                    type: string
                user_id:
                    type: string
                kit_name:
                    type: string
                status:
                    type: string
                user_game_name:
                    type: string
                assigned_at:
                    type: string
                    format: date-time
                delivered_at:
                    type: string
                    format: date-time
                claimed_at:
                    type: string
                    format: date-time
            description: Assignment definition
        Attachment:
            required:
                - desc
                - url
            type: object
            properties:
                desc:
                    type: string
                url:
                    type: string
        BuyItemRequest:
            type: object
            properties:
                item_id:
                    type: string
        BuyItemResponse:
            type: object
            properties:
                purchase:
                    $ref: '#/components/schemas/Purchase'
        ChangeNicknameRequest:
            required:
                - user_id
                - new_nickname
            type: object
            properties:
                user_id:
                    type: string
                new_nickname:
                    type: string
        ChangeNicknameResponse:
            type: object
            properties:
                old_nickname:
                    type: string
                new_nickname:
                    type: string
        Color:
            type: object
            properties:
                red:
                    type: number
                    description: The amount of red in the color as a value in the interval [0, 1].
                    format: float
                green:
                    type: number
                    description: The amount of green in the color as a value in the interval [0, 1].
                    format: float
                blue:
                    type: number
                    description: The amount of blue in the color as a value in the interval [0, 1].
                    format: float
                alpha:
                    type: number
                    description: |-
                        The fraction of this color that should be applied to the pixel. That is,
                         the final pixel color is defined by the equation:

                           `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)`

                         This means that a value of 1.0 corresponds to a solid color, whereas
                         a value of 0.0 corresponds to a completely transparent color. This
                         uses a wrapper message rather than a simple float scalar so that it is
                         possible to distinguish between a default value and the value being unset.
                         If omitted, this color object is rendered as a solid color
                         (as if the alpha value had been explicitly given a value of 1.0).
                    format: float
            description: |-
                Represents a color in the RGBA color space. This representation is designed
                 for simplicity of conversion to/from color representations in various
                 languages over compactness. For example, the fields of this representation
                 can be trivially provided to the constructor of `java.awt.Color` in Java; it
                 can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha`
                 method in iOS; and, with just a little work, it can be easily formatted into
                 a CSS `rgba()` string in JavaScript.

                 This reference page doesn't carry information about the absolute color
                 space
                 that should be used to interpret the RGB value (e.g. sRGB, Adobe RGB,
                 DCI-P3, BT.2020, etc.). By default, applications should assume the sRGB color
                 space.

                 When color equality needs to be decided, implementations, unless
                 documented otherwise, treat two colors as equal if all their red,
                 green, blue, and alpha values each differ by at most 1e-5.

                 Example (Java):

                      import com.google.type.Color;

                      // ...
                      public static java.awt.Color fromProto(Color protocolor) {
                        float alpha = protocolor.hasAlpha()
                            ? protocolor.getAlpha().getValue()
                            : 1.0;

                        return new java.awt.Color(
                            protocolor.getRed(),
                            protocolor.getGreen(),
                            protocolor.getBlue(),
                            alpha);
                      }

                      public static Color toProto(java.awt.Color color) {
                        float red = (float) color.getRed();
                        float green = (float) color.getGreen();
                        float blue = (float) color.getBlue();
                        float denominator = 255.0;
                        Color.Builder resultBuilder =
                            Color
                                .newBuilder()
                                .setRed(red / denominator)
                                .setGreen(green / denominator)
                                .setBlue(blue / denominator);
                        int alpha = color.getAlpha();
                        if (alpha != 255) {
                          result.setAlpha(
                              FloatValue
                                  .newBuilder()
                                  .setValue(((float) alpha) / denominator)
                                  .build());
                        }
                        return resultBuilder.build();
                      }
                      // ...

                 Example (iOS / Obj-C):

                      // ...
                      static UIColor* fromProto(Color* protocolor) {
                         float red = [protocolor red];
                         float green = [protocolor green];
                         float blue = [protocolor blue];
                         FloatValue* alpha_wrapper = [protocolor alpha];
                         float alpha = 1.0;
                         if (alpha_wrapper != nil) {
                           alpha = [alpha_wrapper value];
                         }
                         return [UIColor colorWithRed:red green:green blue:blue alpha:alpha];
                      }

                      static Color* toProto(UIColor* color) {
                          CGFloat red, green, blue, alpha;
                          if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) {
                            return nil;
                          }
                          Color* result = [[Color alloc] init];
                          [result setRed:red];
                          [result setGreen:green];
                          [result setBlue:blue];
                          if (alpha <= 0.9999) {
                            [result setAlpha:floatWrapperWithValue(alpha)];
                          }
                          [result autorelease];
                          return result;
                     }
                     // ...

                  Example (JavaScript):

                     // ...

                     var protoToCssColor = function(rgb_color) {
                        var redFrac = rgb_color.red || 0.0;
                        var greenFrac = rgb_color.green || 0.0;
                        var blueFrac = rgb_color.blue || 0.0;
                        var red = Math.floor(redFrac * 255);
                        var green = Math.floor(greenFrac * 255);
                        var blue = Math.floor(blueFrac * 255);

                        if (!('alpha' in rgb_color)) {
                           return rgbToCssColor(red, green, blue);
                        }

                        var alphaFrac = rgb_color.alpha.value || 0.0;
                        var rgbParams = [red, green, blue].join(',');
                        return ['rgba(', rgbParams, ',', alphaFrac, ')'].join('');
                     };

                     var rgbToCssColor = function(red, green, blue) {
                       var rgbNumber = new Number((red << 16) | (green << 8) | blue);
                       var hexString = rgbNumber.toString(16);
                       var missingZeros = 6 - hexString.length;
                       var resultBuilder = ['#'];
                       for (var i = 0; i < missingZeros; i++) {
                          resultBuilder.push('0');
                       }
                       resultBuilder.push(hexString);
                       return resultBuilder.join('');
                     };

                     // ...
        CreateNewsRequest:
            type: object
            properties:
                title:
                    type: string
                content:
                    type: string
                preview:
                    type: string
        CreateQuestionRequest:
            type: object
            properties:
                question:
                    type: string
        CreateQuestionResponse:
            type: object
            properties: {}
        CreateRequest:
            required:
                - name
            type: object
            properties:
                name:
                    type: string
        CreateResponse:
            type: object
            properties:
                id:
                    type: string
        CreateSeasonRequest:
            type: object
            properties: {}
        CreateSeasonResponse:
            type: object
            properties:
                season:
                    $ref: '#/components/schemas/SeasonInfo'
        CreateShopItemRequest:
            type: object
            properties:
                name:
                    type: string
                description:
                    type: string
                image_url:
                    type: string
                price:
                    type: string
                code:
                    type: string
                item_type:
                    enum:
                        - ITEM_TYPE_UNSPECIFIED
                        - ITEM_TYPE_ITEM
                        - ITEM_TYPE_KIT
                    type: string
                    format: enum
                entries:
                    type: array
                    items:
                        $ref: '#/components/schemas/KitEntry'
                has_discount:
                    type: boolean
                discount_percent:
                    type: integer
                    format: int32
        CreateShopItemResponse:
            type: object
            properties:
                item:
                    $ref: '#/components/schemas/ShopItem'
        CreateUploadUrlsRequest:
            type: object
            properties:
                purpose:
                    enum:
                        - UPLOAD_PURPOSE_UNSPECIFIED
                        - UPLOAD_PURPOSE_DONATE_SHOP
                        - UPLOAD_PURPOSE_SETTLEMENT
                        - UPLOAD_PURPOSE_NEWS
                    type: string
                    format: enum
                count:
                    type: integer
                    format: int32
                content_type:
                    type: string
                    description: |-
                        Optional. MIME type of the uploaded file; must be in the list allowed for
                         the purpose. Empty → any image/* is allowed and the object gets a .webp extension.
        CreateUploadUrlsResponse:
            type: object
            properties:
                targets:
                    type: array
                    items:
                        $ref: '#/components/schemas/UploadTarget'
        DeductCoinsRequest:
            type: object
            properties:
                player_id:
                    type: string
                amount:
                    type: string
                reason:
                    type: string
        DeductCoinsResponse:
            type: object
            properties:
                coins:
                    type: string
        DeleteQuestionResponse:
            type: object
            properties: {}
        DeleteShopItemResponse:
            type: object
            properties: {}
        DetailsResponse:
            type: object
            properties:
                id:
                    type: string
                status:
                    type: string
                rejection_reason:
                    type: string
        GetAvailableKitsResponse:
            type: object
            properties:
                kits:
                    type: array
                    items:
                        type: string
            description: Response containing all available kits
        GetByUserIdResponse:
            type: object
            properties:
                settlement:
                    $ref: '#/components/schemas/Settlement'
        GetInvitationsResponse:
            type: object
            properties:
                invitations:
                    type: array
                    items:
                        $ref: '#/components/schemas/Invitation'
        GetMyBalanceResponse:
            type: object
            properties:
                coins:
                    type: string
        GetPlayerStatsResponse:
            type: object
            properties:
                stats:
                    $ref: '#/components/schemas/SeasonResultEntry'
        GetRandomQuestionsResponse:
            type: object
            properties:
                questions:
                    type: array
                    items:
                        $ref: '#/components/schemas/GetRandomQuestionsResponse_Question'
        GetRandomQuestionsResponse_Question:
            type: object
            properties:
                id:
                    type: string
                question:
                    type: string
            description: Represents a question about rules
        GetResponse:
            type: object
            properties:
                settlement:
                    $ref: '#/components/schemas/Settlement'
        GetSeasonLeaderboardResponse:
            type: object
            properties:
                entries:
                    type: array
                    items:
                        $ref: '#/components/schemas/SeasonResultEntry'
        GetTagsByIdsRequest:
            required:
                - tag_ids
            type: object
            properties:
                tag_ids:
                    type: array
                    items:
                        type: string
        GetTagsByIdsResponse:
            required:
                - tags
            type: object
            properties:
                tags:
                    type: array
                    items:
                        $ref: '#/components/schemas/SettlementTag'
        GetTagsResponse:
            required:
                - tags
            type: object
            properties:
                tags:
                    type: array
                    items:
                        $ref: '#/components/schemas/SettlementTag'
        GetUserInvitationsResponse:
            type: object
            properties:
                invitations:
                    type: array
                    items:
                        $ref: '#/components/schemas/Invitation'
        Invitation:
            type: object
            properties:
                id:
                    type: string
                user_id:
                    type: string
                settlement_id:
                    type: string
        InviteMemberRequest:
            required:
                - settlement_id
                - user_id
            type: object
            properties:
                settlement_id:
                    type: string
                user_id:
                    type: string
        InviteMemberResponse:
            type: object
            properties: {}
        KitEntry:
            type: object
            properties:
                name:
                    type: string
                description:
                    type: string
                image_url:
                    type: string
                quantity:
                    type: integer
                    format: int32
        LeaderboardEntry:
            type: object
            properties:
                name:
                    type: string
                deaths:
                    type: integer
                    format: int32
                kills:
                    type: integer
                    format: int32
                hours_played:
                    type: number
                    format: float
                user_id:
                    type: string
        LeaderboardResponse:
            type: object
            properties:
                entries:
                    type: array
                    items:
                        $ref: '#/components/schemas/LeaderboardEntry'
        ListLeaderboardResponse:
            type: object
            properties:
                entries:
                    type: array
                    items:
                        $ref: '#/components/schemas/LeaderboardEntry'
        ListMyPurchasesResponse:
            type: object
            properties:
                purchases:
                    type: array
                    items:
                        $ref: '#/components/schemas/Purchase'
        ListNewsResponse:
            type: object
            properties:
                news:
                    type: array
                    items:
                        $ref: '#/components/schemas/News'
                next_page_token:
                    type: string
                    description: |-
                        A token, which can be sent as `page_token` to retrieve the next page.
                         If this field is omitted, there are no subsequent pages.
        ListNotificationsResponse:
            type: object
            properties:
                notifications:
                    type: array
                    items:
                        $ref: '#/components/schemas/Notification'
                next_page_token:
                    type: string
                    description: |-
                        A token to retrieve the next page of results. Empty if there are no more
                         results.
        ListPendingResponse:
            type: object
            properties:
                settlements:
                    type: array
                    items:
                        $ref: '#/components/schemas/Settlement'
        ListQuestionsResponse:
            type: object
            properties:
                questions:
                    type: array
                    items:
                        $ref: '#/components/schemas/ListQuestionsResponse_Question'
        ListQuestionsResponse_Question:
            type: object
            properties:
                id:
                    type: string
                question:
                    type: string
                created_by:
                    type: string
                created_at:
                    type: string
                    format: date-time
            description: Represents a question about rules with admin details
        ListResponse:
            type: object
            properties:
                settlements:
                    type: array
                    items:
                        $ref: '#/components/schemas/Settlement'
        ListSeasonsResponse:
            type: object
            properties:
                seasons:
                    type: array
                    items:
                        $ref: '#/components/schemas/SeasonInfo'
                next:
                    type: string
                    description: Cursor for the next page; empty when no more results.
        ListShopItemsResponse:
            type: object
            properties:
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/ShopItem'
        ListTransactionsResponse:
            type: object
            properties:
                transactions:
                    type: array
                    items:
                        $ref: '#/components/schemas/Transaction'
        ListUserAssignmentsResponse:
            type: object
            properties:
                assignments:
                    type: array
                    items:
                        $ref: '#/components/schemas/Assignment'
            description: Response containing user assignments list
        MarkPurchaseIssuedRequest:
            type: object
            properties:
                purchase_id:
                    type: string
        MarkPurchaseIssuedResponse:
            type: object
            properties:
                purchase:
                    $ref: '#/components/schemas/Purchase'
        Member:
            required:
                - user_id
            type: object
            properties:
                user_id:
                    type: string
        News:
            type: object
            properties:
                id:
                    type: string
                title:
                    type: string
                content:
                    type: string
                preview:
                    type: string
                view_count:
[...]
